\documentclass[12pt]{article}
\usepackage[utf8]{inputenc}
\usepackage[brazil]{babel}
\usepackage{amsmath}
\usepackage{graphicx}
\usepackage{cite}
\usepackage{fancyhdr}
\usepackage[a4paper,total={6in,8in}]{geometry}

\pagestyle{fancy}
\fancyhf{}
\fancyhead[L]{Revista Multidisciplinar do Nordeste Mineiro}
\fancyhead[R]{ISSN 2178-6925}

\title{ {{ titulo }} }
\author{
{% for a in autores %}{{ a }}{% if not loop.last %} \\ {% endif %}{% endfor %}
}
\date{Recebido: {{ data_recebido | default("__/__/____") }} -- Aceito: {{ data_aceito | default("__/__/____") }}}

\begin{document}
\maketitle

\begin{abstract}
\noindent {{ abstract_pt }}
\end{abstract}

\textbf{Palavras-chave:} {% for kw in keywords_pt %}{{ kw }}{% if not loop.last %}; {% endif %}{% endfor %}.

\begin{abstract}
\noindent {{ abstract_en | default("") }}
\end{abstract}

\textbf{Keywords:} {% for kw in keywords_en %}{{ kw }}{% if not loop.last %}; {% endif %}{% endfor %}.

{% for sec in sections %}
\section{ {{ sec.secao }} }
{{ sec.conteudo }}

{% endfor %}

\begin{thebibliography}{99}
{% for b in bibliografia %}
    \bibitem{ {{ b.citekey }} } {{ b.texto }}
{% endfor %}
\end{thebibliography}

\end{document}
