from jinja2 import Environment, FileSystemLoader
import os

# Caminho absoluto da pasta 'templates', independente de onde você rode:
BASE_DIR = os.path.dirname(os.path.abspath(__file__))
templates_path = os.path.join(BASE_DIR, "templates")

# Agora o loader procura em ./templates
env = Environment(
    loader=FileSystemLoader(templates_path),
    autoescape=False,          # LaTeX não precisa de autoescape HTML
)

# Use o nome de arquivo sem acentos:
tpl = env.get_template("padrao_revista.tex.j2")

